body{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: brown;
}
#contenedor{
    text-align: left;
    color: #545454;
    font-style: initial;

}
#tip{
    font-family: 'Courier New', Courier, monospace;
    color: blue;

}
#mod{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aqua;
}
title{
    font-style: oblique;
    color:crimson ;
}